<p-toolbar class="companiesBar">Companies</p-toolbar>
<p-table [value]="AllData">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Add</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{data.name}}</td>
            <td>{{data.address.streetAddress}}</td>
            <td>{{data.address.city}}</td>
            <td>{{data.address.state}}</td>
            <td>{{data.address.zip}}</td>
            <td><p class="pi pi-plus-circle" style="font-size: 30px; margin: 0;" (click)="addCompany(data)"></p></td>
        </tr>
    </ng-template>
  </p-table>




<!--
<p-carousel headerText="Companies" [value]="AllData" numVisible="3">
  <ng-template let-data pTemplate="data">
      <div class="ui-grid ui-grid-responsive" >
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">Name</div>
              <div class="ui-grid-col-6">{{data.name}}</div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">Street address</div>
              <div class="ui-grid-col-6">{{data.address.streetAddress}}</div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">City</div>
              <div class="ui-grid-col-6">{{data.address.city}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">State</div>
            <div class="ui-grid-col-6">{{data.address.state}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">Zip</div>
            <div class="ui-grid-col-6">{{data.address.zip}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <button pButton type="button" class="ui-button-primary" (click)="addCompany(data)">Add</button>
            </div>
          </div>
      </div>
  </ng-template>
</p-carousel> -->
