
<p-carousel headerText="Companies" [value]="AllData" numVisible="3">
  <ng-template let-data pTemplate="data">
      <div class="ui-grid ui-grid-responsive" >
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">Name</div>
              <div class="ui-grid-col-6">{{data.name}}</div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">Street address</div>
              <div class="ui-grid-col-6">{{data.address.streetAddress}}</div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-6">City</div>
              <div class="ui-grid-col-6">{{data.address.city}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">State</div>
            <div class="ui-grid-col-6">{{data.address.state}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">Zip</div>
            <div class="ui-grid-col-6">{{data.address.zip}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <button pButton type="button" class="ui-button-primary" (click)="addCompany(data)">Add</button>
            </div>
          </div>
      </div>
  </ng-template>
</p-carousel>
<button pButton type="button" class="ui-button-primary" (click)="showDbData()">Show</button>
<ul *ngFor="let company of DbData">
  <li>{{company.name}}</li>
  <li>{{company.id}}</li>
</ul>