<p-carousel headerText="Companies" [value]="SavedData" numVisible="3">
        <ng-template let-saved pTemplate="saved">
            <div class="ui-grid ui-grid-responsive" >
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">Name</div>
                    <div class="ui-grid-col-6">{{saved.name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">Address</div>
                    <div class="ui-grid-col-6">{{saved.address.streetAddress}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">City</div>
                    <div class="ui-grid-col-6">{{saved.address.city}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-6">State</div>
                  <div class="ui-grid-col-6">{{saved.address.state}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-6">Zip</div>
                  <div class="ui-grid-col-6">{{saved.address.zip}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-12">
                        <p class="pi pi-trash" style="font-size: 24px;"></p>
                  </div>
                </div>
            </div>
        </ng-template>
      </p-carousel>





